@page "/agent-requests"
@using CRMRealEstate.DataAccess.Enums
@using CRMRealEstate.UI.Models
@using Microsoft.AspNetCore.Components.Authorization
@using MudBlazor

@inject HttpClient Http
@inject AuthenticationStateProvider AuthState

<h3>Cereri de la clienți</h3>

@if (requests == null)
{
    <p>Se încarcă cererile...</p>
}
else if (!requests.Any())
{
    <p>Nu există cereri în așteptare.</p>
}
else
{
    <table class="table">
        <thead>
            <tr class="text-primary">
                <th class="fw-bold fs-6">Titlu</th>
                <th class="fw-bold fs-6">Mesaj</th>
                <th class="fw-bold fs-6">Client</th>
                <th class="fw-bold fs-6">Acțiuni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var request in requests)
            {
                <tr>
                    <td class="text-secondary fs-6">@request.Title</td>
                    <td class="text-secondary fs-6">@request.CustomerMessage</td>
                    <td class="text-secondary fs-6">@request.CustomerId</td>

                    <td>
                        <MudButton Color="Color.Success" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Check" Class="me-2" Size="Size.Small" OnClick="() => ApproveRequest(request)">
                            Acceptă
                        </MudButton>

                        <MudButton Color="Color.Error" Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Close" Class="me-2" Size="Size.Small" OnClick="() => RejectRequest(request)">
                            Refuză
                        </MudButton>

                        <MudButton Color="Color.Info" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Chat" Size="Size.Small" OnClick="() => OpenRespondDialog(request)">
                            Răspunde
                        </MudButton>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<RequestResponseModel> requests;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthState.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity != null && user.Identity.IsAuthenticated)
        {
            requests = await Http.GetFromJsonAsync<List<RequestResponseModel>>("/requests");
            requests = requests.Where(r => r.Status == RequestStatus.Pending).ToList();
        }
    }

    private async Task ApproveRequest(RequestResponseModel request)
    {
        var response = await Http.PutAsJsonAsync($"/requests/{request.Id}", RequestStatus.Completed);

        if (response.IsSuccessStatusCode)
        {
            await OnInitializedAsync();
        }
        else
        {
            Console.WriteLine("Eroare la aprobare");
        }
    }

    private async Task RejectRequest(RequestResponseModel request)
    {
        var response = await Http.PutAsJsonAsync($"/requests/{request.Id}", RequestStatus.Rejected);

        if (response.IsSuccessStatusCode)
        {
            await OnInitializedAsync();
        }
        else
        {
            Console.WriteLine("Eroare la respingere");
        }
    }

    [Inject] IDialogService DialogService { get; set; }

    private async Task OpenRespondDialog(RequestResponseModel request)
    {
        var parameters = new DialogParameters
            {
                ["RequestId"] = request.Id
            };

        var options = new DialogOptions
            {
                MaxWidth = MaxWidth.ExtraLarge, 
                FullWidth = true               
            };


        var dialog = DialogService.Show<RespondToRequestDialog>("", parameters, options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            string agentMessage = result.Data.ToString();

            var respondModel = new RespondToRequestModel
                {
                    RequestId = request.Id,
                    AgentMessage = agentMessage
                };

            var response = await Http.PostAsJsonAsync($"/requests/{request.Id}/respond", respondModel);

            if (response.IsSuccessStatusCode)
            {
                await OnInitializedAsync();
            }
            else
            {
                Console.WriteLine("Eroare la trimiterea răspunsului.");
            }
        }
    }
}